<app-header></app-header>

<div class=" table-background">
<div class="container-fluid ">
  <div class="row">
    <div class="col-12">
      <div class="d-flex justify-content-end mb-3">
        <!-- <button class="btn btn-primary me-2" (click)="openPopup()">Add New User</button> -->
      </div>

      <div class="table-responsive">
        <table class="table  table-bordered">
          <thead class="table-dark">
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Name</th>
              <th scope="col">Email</th>
              <th scope="col">Gender</th>
              <th scope="col">Password</th>
              <th scope="col">Action</th>

            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of Studentdetails">
              <th scope="row">{{item._id}}</th>
              <td>{{item.name | uppercase}}</td>
              <td>{{item.email}}</td>
              <td>{{item.gender | titlecase}}</td>
              <td>{{item.password}}</td>
              <td>
                <button class="btn btn-primary me-2" (click)="openPopup(item._id)">Update</button>
                <button class="btn btn-primary me-2" (click)="Delete(item._id)">Delete</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="popup-background" (click)="closePopup()" *ngIf="isPopupOpen">
  <div class="popup-content" (click)="preventClosing($event)">
    <h3>Update Studentdetails</h3>


    <form [formGroup]="registerForm" (ngSubmit)="Updatedstudent()">

      <div class="form-group mt-2">
        <label>Student Name</label>
        <input type="text" formControlName="name" class="form-control" 
          [ngClass]="{ 'is-invalid': submittedRegister && f.name.errors }" />
        <div *ngIf="submittedRegister && f.name.errors" class="invalid-feedback">
          <div *ngIf="f.name.errors.required">Student Name is required</div>
        </div>
      </div>

      <div class="form-group mt-2">
        <label>Email</label>
        <input type="text" formControlName="email" class="form-control"
          [ngClass]="{ 'is-invalid': submittedRegister && f.email.errors }" />
        <div *ngIf="submittedRegister && f.email.errors" class="invalid-feedback">
          <div *ngIf="f.email.errors.required">Email is required</div>
          <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
        </div>
      </div>

      <div class="form-group mt-2">
        <label>Password</label>
        <input type="text" formControlName="password" class="form-control"
          [ngClass]="{ 'is-invalid': submittedRegister && f.password.errors }" />
        <div *ngIf="submittedRegister && f.password.errors" class="invalid-feedback">
          <div *ngIf="f.password.errors.required">Password is required</div>
        </div>
      </div>

      <div class="form-group mt-2">
        <label>Gender</label>
        <select formControlName="gender" class="form-control"
          [ngClass]="{ 'is-invalid': submittedRegister && f.gender.errors }">
          <option value="" disabled selected>Select gender</option>
          <option value="male">Male</option>
          <option value="female">Female</option>
          <option value="others">Others</option>
        </select>
        <div *ngIf="submittedRegister && f.gender.errors" class="invalid-feedback">
          <div *ngIf="f.gender.errors.required">Gender is required</div>
        </div>
      </div>

      <div class="form-group mt-2">
        <button class="btn btn-primary me-2">Updated</button>
        <button class="btn btn-primary me-2" (click)="closePopup()">Close</button>

      </div>
    </form>

  </div>
</div>


</div>