<!-- homepage.component.html -->
<app-header></app-header>

<div class="home-background">
  <div class="row row-cols-1 row-cols-md-4 g-4 col-12 mt-5">
    <div class="col-12">
      <div class="card h-100">
        <img src="https://tse1.mm.bing.net/th?id=OIP.-j20wflQnPTC0NBeqKvTmAHaD4&pid=Api&P=0&h=180" class="card-img-top img-fluid" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="https://tse1.mm.bing.net/th?id=OIP.0Q2357IpAQH07FIqIXChBAHaD4&pid=Api&P=0&h=180" class="card-img-top img-fluid" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="https://tse4.mm.bing.net/th?id=OIP.B1-FHtxpZwSDJNvoUBj7aQHaEH&pid=Api&P=0&h=180" class="card-img-top img-fluid" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="https://tse1.mm.bing.net/th?id=OIP.siq3boGmV8k9YKhTwzNjVwHaDt&pid=Api&P=0&h=180" class="card-img-top img-fluid" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
    </div>
  </div>
</div>
